@model IEnumerable<CurriculumVitaeApp.Models.DatosBasicos>
@inject CurriculumVitaeApp.Helpers.IdProtector IdProtector

@{
    ViewData["Title"] = "Index";
}

<h1>Datos Básicos</h1>

<style>
    .form-row {
        display: flex;
        gap: 15px; /* separación entre columnas */
        align-items: flex-end; /* alinea inputs y button abajo */
    }
</style>

<div class="col-md-4">
    <form id="formCrear" asp-action="Crear">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div>
                <label for="Nombre" class="control-label">Nombre</label>
                <input name="Nombre" for="Nombre" class="form-control" required />
                <span for="Nombre" class="text-danger"></span>
            </div>
            <div>
                <label for="Valor" class="control-label">Valor</label>
                <input name="Valor" for="Valor" class="form-control" required />
                <span for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success btn-sm" />
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input type="text" name="Nombre" class="form-control input-nombre" value="@item.Nombre" required />
                <span for="Nombre" class="text-danger"></span>
            </td>
            <td>
                <input type="text" name="Valor" class="form-control input-valor" value="@item.Valor" required />
                <span for="Valor" class="text-danger"></span>
            </td>
            <td>
                <form asp-action="Editar" id="formEditar" method="post" class="edit-form">
                    <input type="hidden" name="idEditar" value="@IdProtector.EncryptId(item.Id)" />
                    <input type="hidden" name="Nombre" class="hidden-nombre" />
                    <input type="hidden" name="Valor" class="hidden-valor" />
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
                    <form asp-action="Eliminar" id="formEliminar" method="post" class="delete-form">
                    <input type="hidden" name="id" value="@IdProtector.EncryptId(item.Id)" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

}

