@model IEnumerable<CurriculumVitaeApp.Models.DatosBasicos>
@inject CurriculumVitaeApp.Helpers.IdProtector IdProtector

@{
    ViewData["Title"] = "Index";
}

<h1>Datos Básicos</h1>

<p>
    <a asp-action="Create">Crea un dato básico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@IdProtector.EncryptId(item.Id)">Editar</a> |
                <form asp-action="Delete" method="post" class="delete-form">
                    <input type="hidden" name="id" value="@IdProtector.EncryptId(item.Id)" />
                    <button type="submit" onclick="confirmarEliminacion(event)" class="btn btn-danger">Eliminar</button>
                    <input type="hidden" name="submitButton" id="submitButtonHidden" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmarEliminacion(event) {
            event.preventDefault();

            Swal.fire({
                title: '¿Está seguro que desea eliminar este registro?',
                text: 'Esta acción no se puede deshacer.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Registro eliminado',
                        text: 'El registro se ha eliminado con éxito.',
                        confirmButtonColor: '#005D8F',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    }).then(() => {
                        document.getElementById('submitButtonHidden').value = 'eliminar';
                        event.target.closest('form').submit();
                    });
                }

            });
        }
    </script>
   


}

