@model IEnumerable<CurriculumVitaeApp.Models.ExperienciaLaboral>
@inject CurriculumVitaeApp.Helpers.IdProtector IdProtector

@{
    ViewData["Title"] = "Index";
}

<div class="modal fade" id="modalDescripcion" tabindex="-1" aria-labelledby="modalDescripcionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="popup modal-header text-white">
                <h5 class="modal-title titulo-popup" id="modalDescripcionLabel">Descripción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarDescripcionEL" method="post" asp-action="Editar">
                    <input type="hidden" name="idEditar" id="modal-id-editar-ex" />
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea name="Descripcion" id="modal-descripcion" class="form-control" rows="5" required></textarea>
                    </div>
                    <button type="button" class="btn btn-secondary btn-cancelar-modal-el">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cerrar" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="Crear">Crea un antecedente laboral</a>
</p>

<h3>Experiencia laboral</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTermino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vigente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input type="date" name="FechaInicio" class="form-control input-fecha-inicio" value="@(item.FechaInicio.ToString("yyyy-MM-dd"))" data-original="@(item.FechaInicio.ToString("yyyy-MM-dd"))" required  />
                <span for="FechaInicio" class="text-danger"></span>
            </td>
            <td>
                <input type="date" name="FechaTermino" class="form-control input-fecha-termino" value="@(item.FechaTermino?.ToString("yyyy-MM-dd"))" data-original="@(item.FechaTermino?.ToString("yyyy-MM-dd"))" required />
                <span for="FechaTermino" class="text-danger"></span>
            </td>
            <td class="td-vigente" data-id="@IdProtector.EncryptId(item.Id)">
                @Html.DisplayFor(modelItem => item.Vigente)
            </td>
            <td>
                <input type="text" name="Empresa" class="form-control input-empresa" value="@item.Empresa" data-original="@item.Empresa" required />
                <span for="Empresa" class="text-danger"></span>
            </td>
            <td>
                <span class="descripcion-clickable-el text-primary"
                        data-descripcion="@item.Descripcion"
                        data-id="@IdProtector.EncryptId(item.Id)"
                        style="cursor:pointer; text-decoration: underline;">
                    Ver descripción
                </span>
            </td>
            <td>
                    <form asp-action="Editar" method="post" class="edit-form-experiencia-laboral">
                    <input type="hidden" name="idEditar" value="@IdProtector.EncryptId(item.Id)" />
                        <input type="hidden" name="FechaInicio" class="hidden-fecha-inicio" />
                        <input type="hidden" name="FechaTermino" class="hidden-fecha-termino" />
                        <input type="hidden" name="Empresa" class="hidden-empresa" />
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
                <button type="button" class="btn btn-secondary btn-cancelar-el">Cancelar</button>
                <form asp-action="Eliminar" id="formEliminarExperiencia" method="post" class="delete-form">
                    <input type="hidden" name="id" value="@IdProtector.EncryptId(item.Id)" />
                    <button type="submit" onclick="confirmarEliminacion(event)" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/vistas-index.js"></script>

}

