@model IEnumerable<CurriculumVitaeApp.Models.Habilidad>
@inject CurriculumVitaeApp.Helpers.IdProtector IdProtector

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<style>
    .form-row {
        display: flex;
        gap: 15px; /* separación entre columnas */
        align-items: flex-end; /* alinea inputs y button abajo */
    }
</style>

<div class="col-md-4">
    <form id="formCrear" asp-action="Crear">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div>
                <label for="Descripcion" class="control-label">Descripción</label>
                <input name="Descripcion" for="Descripcion" class="form-control" required />
                <span for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success btn-sm" />
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input type="text" name="Descripcion" class="form-control input-descripcion" value="@item.Descripcion" required />
                <span for="Descripcion" class="text-danger"></span>
            </td>
            <td>
                <form asp-action="Editar" id="formEditarHabilidad" method="post" class="edit-form">
                    <input type="hidden" name="idEditar" value="@IdProtector.EncryptId(item.Id)" />
                    <input type="hidden" name="Descripcion" class="hidden-descripcion" />
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
                <form asp-action="Eliminar" id="formEliminarHabilidad" method="post" class="delete-form">
                    <input type="hidden" name="id" value="@IdProtector.EncryptId(item.Id)" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
            
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmarEliminacion(event) {
            event.preventDefault();

            Swal.fire({
                title: '¿Está seguro que desea eliminar este registro?',
                text: 'Esta acción no se puede deshacer.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Registro eliminado',
                        text: 'El registro se ha eliminado con éxito.',
                        confirmButtonColor: '#005D8F',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    }).then(() => {
                        document.getElementById('submitButtonHidden').value = 'eliminar';
                        event.target.closest('form').submit();
                    });
                }

            });
        }
    </script>

}
