@model IEnumerable<CurriculumVitaeApp.Models.DatosBasicos>
@inject CurriculumVitaeApp.Helpers.IdProtector IdProtector

@{
    ViewData["Title"] = "SelectorDatosBasicos";
    Layout = "_LayoutPublic";

    var idsSeleccionados = ViewBag.IdsSeleccionados as HashSet<int> ?? new HashSet<int>();
}

<h1>Datos Básicos</h1>

<!-- Contador de seleccionados -->
<div id="selection-counter" class="selection-counter badge bg-info" style="margin-bottom: 10px;">
    Seleccionados: <span class="selected-count">0</span> / <span class="total-count">@Model.Count()
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDato)
            </th>
            <th>
                <input type="checkbox" class="select-all" title="Seleccionar todos" />
                <label for="select-all" style="cursor: pointer; margin-left: 5px;">Seleccionar todos
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="item-row" data-id='@IdProtector.EncryptId(item.Id)' data-tipo="1">
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorDato)
                </td>
                <td>
                    <input type="checkbox" name="seleccionados" class="chk-item" @(idsSeleccionados.Contains(item.Id) ? "checked" : "") />
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- Agrega jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/vistas-parciales-curriculum.js"></script>
}


<link rel="stylesheet" href="~/css/vistas-parciales-curriculum.css" />