@model IEnumerable<CurriculumVitaeApp.Models.FormacionAcademica>
@inject CurriculumVitaeApp.Helpers.IdProtector IdProtector

@{
    ViewData["Title"] = "SelectorFormacionAcademica";
    Layout = null;

    var idsSeleccionados = ViewBag.IdsSeleccionados as HashSet<int> ?? new HashSet<int>();
}

<!-- Contador de seleccionados -->
<div class="d-flex justify-content-end mb-3">
    <div class="selection-counter badge">
        Seleccionados: <span class="selected-count">0</span> / <span class="total-count">@Model.Count()</span>
    </div>
</div>

<table class="table custom-table align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreInstitucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhoInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhoTermino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vigente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoInstitucion)
            </th>
            <th class="text-end" style="width: 140px;">
                <div class="d-flex justify-content-end align-items-center">
                    <label class="fw-bold me-2 mb-0" for="selectAllExp" style="cursor: pointer;">Todos</label>
                    <input type="checkbox" class="form-check-input select-all m-0" id="selectAllExp" />
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="item-row" data-id='@IdProtector.EncryptId(item.Id)' data-tipo="5">
            <td>
                @Html.DisplayFor(modelItem => item.NombreInstitucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnhoInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnhoTermino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vigente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoInstitucion.Tipo)
            </td>
            <td class="text-end">
                <input type="checkbox" name="seleccionados" class="form-check-input chk-item" @(idsSeleccionados.Contains(item.Id) ? "checked" : "") />
            </td>
        </tr>
}
    </tbody>
</table>