@model CurriculumVitaeApp.Models.Curriculum

@{
    ViewData["Title"] = "Seleccionar";
}

<h1>Seleccionar items</h1>

<input type="hidden" class="input-id-cv" id="idCvHidden" value="@ViewBag.IdCv" />
<input type="hidden" id="seleccionesPreviasHidden" value='@Html.Raw(ViewBag.SeleccionesPreviasJson ?? "[]")' />

<div class="form-group">
    <label class="control-label">Crear encabezado</label>
    <input type="text" name="encabezado" class="form-control input-valor" value="@ViewBag.Encabezado" required />
    <label class="control-label">Crear nombre de cv</label>
    <input type="text" name="nombreCv" class="form-control input-nombre-cv" value="@ViewBag.NombreCv" required />
    <label class="control-label">Indique una pprofesion (opcional)</label>
    <input type="text" name="profesion" class="form-control input-profesion" value="@ViewBag.Profesion" required />
</div>

<div class="opciones-container">
    <div class="opcion" data-url="/Curriculum/SelectorDatosBasicos" data-tipo="1">
        <button class="btn-toggle">+</button>
        <span class="titulo">Datos Básicos</span>
        <div class="contenido-parcial"></div>
    </div>

    <div class="opcion" data-url="/Curriculum/SelectorExperienciaLaboral" data-tipo="4">
        <button class="btn-toggle">+</button>
        <span class="titulo">Experiencia Laboral</span>
        <div class="contenido-parcial"></div>
    </div>

    <div class="opcion" data-url="/Curriculum/SelectorFormacionAcademica" data-tipo="5">
        <button class="btn-toggle">+</button>
        <span class="titulo">Formación académica</span>
        <div class="contenido-parcial"></div>
    </div>

    <div class="opcion" data-url="/Curriculum/SelectorHabilidad" data-tipo="2">
        <button class="btn-toggle">+</button>
        <span class="titulo">Habilidades blandas</span>
        <div class="contenido-parcial"></div>
    </div>
    <div class="opcion" data-url="/Curriculum/SelectorConocimiento" data-tipo="3">
        <button class="btn-toggle">+</button>
        <span class="titulo">Conocimientos técnicos</span>
        <div class="contenido-parcial"></div>
    </div>
    <div class="opcion" data-url="/Curriculum/SelectorEnlaces" data-tipo="6">
        <button class="btn-toggle">+</button>
        <span class="titulo">Enlaces</span>
        <div class="contenido-parcial"></div>
    </div>
</div>

<form id="formSeleccion" asp-action="GenerarPDF" method="post">
    <input type="hidden" name="seleccionadosJson" id="seleccionadosJson" />
    <input type="hidden" name="Encabezado" class="hidden-encabezado" />
    <input type="hidden" name="NombreCv" class="hidden-nombre-cv" />
    <input type="hidden" name="Profesion" class="hidden-profesion" />
    <input type="hidden" name="idCv" class="hidden-id-cv" />

    <button type="submit" onclick="confirmarSeleccion(event)" class="btn btn-success">Generar PDF</button>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>

    <script>
        window.swalErrorMessage = @(
        TempData["SwalError"] != null
        ? Html.Raw(Json.Serialize(TempData["SwalError"]))
        : "null"
    );
    </script>

    <script src="~/js/vista-seleccion.js"></script>
        
}


